<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shared TODO app</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    input[name="todoItem"] {
      width: 100%;
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    .form-check {
      font-size: 1.5rem;
    }

    .form-check-input {
      margin-top: .55rem;
    }

    .op-btn {
      padding: 0 1rem;
      font-size: 2rem;
      margin-right: 1rem;
    }
  </style>
</head>

<body>
  <div class="container mt-5">
    <%- include ("partials/message") -%>
    <div class="mt-3"></div>
    <%- body %>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>